.biru-xerabutan {
    color: #16205B !important;
}

.bg-biru-xerabutan {
    background-color: #16205B !important;
}

.border-biru-xerabutan {
    border-color: #16205B !important;
}

.border-pink-xerabutan {
    border-color: #F1246F !important;
}

.pink-xerabutan {
    color: #F1246F !important;
}

.bg-pink-xerabutan {
    background-color: #F1246F !important;
}

.btn-bg-pink-hover:hover {
    background-color: #F1246F !important;
}

.border-pink-hover:hover {
    border-color: #F1246F !important;
}

.menu:hover {
    color:  #F1246F !important;
}

hr {
    border: 1px solid gray;
    margin: 0 100px;
    border-radius: 10px;
}

.alert {
    background-color: rgba(255, 0, 0, 0.2);
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../image/login-page.png');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}